
<h1 align="center">{{department}}</h1>
<table id="items" class="table-bordered table table-hover">
	<thead>
	<tr>
		<th scope="col" class="text-center">Item</th>
		<th scope="col" class="text-center">Description</th>
		<th scope="col" class="text-center">Lowest Bid</th>
		<th scope="col" class="text-center">Your Price</th>
		<th scope="col" class="text-center">Make Bid</th>
	</tr>
	 </thead>  <tbody>

	{{#each items}}
	
	<tr onclick="button()" class="rgba-green-strong">
		<form method="post">
			<input type="hidden" name="itemID" value="{{this.id}}">
			<td>{{this.name}} </td>
			<td>{{this.description}}</td>
			<td>{{this.price}}</td>
			<td><input type="text" name="price"></td>
			<td><input type="submit" value="SELL!"></td>
		</form>
	</tr>
	{{/each}}   
  </tbody>
        
</table> 

<script>
function button(){
console.log("yay");
}
</script>           